{% extends "base.html" %}
{% load static %}
{% block title %}Casulo{% endblock%}
{% block content %}

<!-- Hero Section -->
{% include "partials/hero_section.html" %}
<!-- End Hero Section -->

<!-- About Section -->
{% include "partials/about_section.html" %}
<!-- End About Section -->

<!-- Services Section -->
{% include "partials/services_section.html" %}
<!-- End Services Section -->

<!-- Team Section -->
{% include "partials/team_section.html" %}
<!-- End Team Section -->

<!-- Espace Section -->
{% include "partials/space_section.html" %}
<!-- End Espace Section -->

<!-- Contact Section -->
{% include "partials/contact_section.html" %}
<!-- End Contact Section -->

{% endblock %}
