{% extends "base.html" %}
 {% block title %}Mensagens{% endblock %} 
 {% block content %}
<h1>Mensagens</h1>

<div>
  <button
    type="button"
    hx-get="{% url 'messages_list' %}?status=all"
    hx-target="#messages-container"
    hx-push-url="true"
  >
    Todas
  </button>

  <button
    type="button"
    hx-get="{% url 'messages_list' %}?status=unread"
    hx-target="#messages-container"
    hx-push-url="true"
  >
    Não lidas
  </button>

  <button
    type="button"
    hx-get="{% url 'messages_list' %}?status=read"
    hx-target="#messages-container"
    hx-push-url="true"
  >
    Lidas
  </button>
</div>

<div id="messages-container"
>
  {% include "partials/messages_ul.html" %}
</div>

<form action="{% url 'logout_confirm' %}" method="get">
  <button type="submit">Sair</button>
</form>
{% endblock %}
