{% extends "base.html" %}
{% block title %}Mensagens{% endblock %}
{% block content %}

<h1>Mensagens</h1>
<div
  x-data="{
    status: '{{ status }}',
    clearAndRefresh() {
      this.$refs.q.value = '';

      htmx.ajax(
        'GET',
        '{% url 'messages_list' %}?status=' + this.status,
        { target: '#messages-container', swap: 'innerHTML' }
      );

      history.replaceState(null, '', '{% url 'messages_list' %}?status=' + this.status);

      this.$nextTick(() => this.$refs.q.focus());
    }
  }"
>
  <form id="filters-form">
    <input type="hidden" name="status" x-model="status" />

    <input
      x-ref="q"
      id="q"
      name="q"
      value="{{ q }}"
      placeholder="Buscar por nome ou email..."
      hx-get="{% url 'messages_list' %}"
      hx-trigger="keyup changed delay:400ms"
      hx-target="#messages-container"
      hx-swap="innerHTML"
      hx-include="#filters-form"
      hx-push-url="true"
    />

    <button type="button" @click="clearAndRefresh()">
      Limpar
    </button>
  </form>

  <div>
    <button
      type="button"
      @click="status='all'"
      hx-get="{% url 'messages_list' %}"
      hx-target="#messages-container"
      hx-swap="innerHTML"
      hx-include="#filters-form"
      hx-push-url="true"
    >Todas</button>

    <button
      type="button"
      @click="status='unread'"
      hx-get="{% url 'messages_list' %}"
      hx-target="#messages-container"
      hx-swap="innerHTML"
      hx-include="#filters-form"
      hx-push-url="true"
    >Não lidas</button>

    <button
      type="button"
      @click="status='read'"
      hx-get="{% url 'messages_list' %}"
      hx-target="#messages-container"
      hx-swap="innerHTML"
      hx-include="#filters-form"
      hx-push-url="true"
    >Lidas</button>
  </div>
</div>

<div id="messages-container">{% include "partials/messages_ul.html" %}</div>

<form action="{% url 'logout_confirm' %}" method="get">
  <button type="submit">Sair</button>
</form>
{% endblock %}
