<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Controle de atendimentos{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    {% block head_extra %}
    {% endblock %}
</head>

<body class="min-h-screen bg-gray-100 flex items-center justify-center"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block conteudo %}
    {% endblock %}

</body>

</html>